.affiliatesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    gap: 40px;
    justify-content: space-between;
    padding-bottom: 30px;
}

.affiliate {
    height: 160px;
    color:rgb(90,80,70);
}

.affiliate.nederland {
    color: rgb(32,42,82);
}

.affiliate.switzerland {
    color: rgb(230, 50, 20);
}

.affiliateImageContainer {
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    overflow: hidden;
}

.affiliateImageContainer > img {
    width: 100px;
    object-fit: cover;
    object-position: center top;
}

.affiliateOverlay {
    height: 100px;
    width: 100px;
    top: 0;
    border-radius: 50px;
    background-color: rgba(90, 80, 70, 0.2);
    position: absolute;
}

.affiliate.nederland > .affiliateImageContainer > .affiliateOverlay {
    background-color: rgba(32, 42, 82, 0.2);
}

.affiliate.switzerland > .affiliateImageContainer > .affiliateOverlay {
    background-color: rgba(230, 50, 20, 0.2);
}

.affiliate > .affiliateImageContainer > .affiliateOverlay:hover {
    background-color: transparent;
    cursor: pointer;
}

.affiliate > .affiliateImageContainer > .affiliateOverlay:focus {
    background-color: transparent;
}

.affiliateName {
    margin-top: 20px;
}

.affiliateInfo {
    display: none;
}

.screenOverlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    background-color: rgba(90,80,70,0.6);
    color: rgb(255,255,255);
}

.screenOverlay.visable {
    display: block;
}

.affiliateViewBox {
    position: relative;
    width: min(calc(80vw - 40px), 350px);
    min-height: min(80vw, 200px);
    margin-left: auto;
    margin-right: auto;
    margin-top: max(10vh, calc(50vh - 170px));
    padding: 20px;
    background-color:rgb(32, 42, 82);
    color: rgb(255,255,255);
}

.affiliateViewBoxImageContainer {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50px;
}

.affiliateViewBoxImageContainer > img {
    width: 50px;
}

.affiliateDetails {
    line-height: 1.5em;
}

.affiliateFullName {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 50px;
}

.affiliateFullName > p {
    max-width: 230px;
}

.affiliateText {
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    .affiliatesGrid {
        gap: 20px;
    }

    .affiliate {
        height: 200px;
    }
    
}