.headerStrip {
    background-image: url("../images/image_contact_large.jpg");
}

p.phone {
    margin-top: 20px;
}

.contentMapContainer {
    width: 80%;
    height: calc(200px + 5vw);
    padding-bottom: 30px;
}

iframe {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 720px) {
    .headerStrip {
        background-image: url("../images/image_contact_small.jpg");
    }
}

@media screen and (max-width: 1500px) {
    .contentMapContainer {
        height: 275px;
    }
}