.contentStrip {
    margin-top: 120px;
}

.contentParagraphHeader {
    font-family: 'AvenirBold', sans-serif;
}

.contentParagraph {
    margin-bottom: 30px;
}

ul {
    list-style-type: none;
    margin-bottom: 30px;
}