@font-face {
    font-family: 'AvenirBold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/2f9f83_b_0.woff') format("woff"), url('../fonts/2f9f83_b_0.svg') format("svg"), url('../fonts/2f9f83_b_0.eot') format("embedded-opentype");
}

@font-face {
    font-family: 'AvenirMassive';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/2f9f83_5_0.woff') format("woff"), url('../fonts/2f9f83_5_0.svg') format("svg"), url('../fonts/2f9f83_5_0.eot') format("embedded-opentype");
}

@font-face {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/2f9f83_9_0.woff') format("woff"), url('../fonts/2f9f83_9_0.svg') format("svg"), url('../fonts/2f9f83_9_0.eot') format("embedded-opentype");
}

@font-face {
    font-family: 'AvenirLight';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/2f9f83_6_0.woff') format("woff"), url('../fonts/2f9f83_6_0.svg') format("svg"), url('../fonts/2f9f83_6_0.eot') format("embedded-opentype");
}

@font-face {
    font-family: 'AvenirSemiBold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/2f9f83_3_0.woff') format("woff"), url('../fonts/2f9f83_3_0.svg') format("svg"), url('../fonts/2f9f83_3_0.eot') format("embedded-opentype");
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Avenir', sans-serif;
    font-size: 14px;
}

.marginBox {
    width: 80vw;
    margin: 0 auto;
}

.redBar {
    height: 8px;
    width: 80px;
    background-color: rgb(230,50,20);
    margin-bottom: 12px;
}

.gohstText {
    opacity: 0;
}

h1, h2, h3 {
    margin: 0;
    font-weight: normal;
}

/* link behaviour */

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

a:hover {
    color: rgb(230, 50, 20);
}








/* upper strip fixed position (does not scroll) containing navigation items and logo */
/*------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------*/

.navStrip {
    position: fixed;
    height: 120px;
    width: 100vw;
    top: 0;
    z-index: 2;
    background-color: rgb(238,238,238);
    color: rgb(32,42,82);
}

nav {
    display: grid;
    grid-template-columns: 100px 1fr 33px;
    padding: 10px 0;
    font-size: 14px;
}

.logoContainer {
    width: 100px;
    height: 100px;
}

.navigationGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-flow: column;
    padding: 0 2vw;
}

.navigationGrid > div {
    padding: 5px;
}

.iconsContainer {
    height: 100px;
}

.iconButton {
    height: 22px;
    
}

.loginIcon {
    height: 14px;
    padding: 3px;
    margin-bottom: 17px;
    border: 1px solid rgb(32, 42, 82);
    font-family: 'AvenirBold',sans-serif;
    font-size: 8px;
    text-align: center;
    line-height: 14px;
}

.loginIcon:hover {
    border-color: rgb(230, 50, 20);
}

.languageIcon {
    margin-bottom: 17px;
}

.languageIcon:hover > svg .fcls-1, .languageIcon:hover > svg .fcls-3 {
    stroke: rgb(230, 50, 20);
}

.languageIcon:hover > svg .fcls-2, .languageIcon:hover > svg .fcls-3 {
    fill: none;
    stroke: rgb(230, 50, 20);
}

.jobsIcon:hover > svg .jcls-1 {
    fill: rgb(230, 50, 20);
}

.jobsIcon:hover > svg .jcls-2 {
    stroke: rgb(230, 50, 20);
}


.burgerMenu {
    display: none;
    padding-left: calc(100% - 30px);
    position: relative;
    cursor: pointer;
}

.burgerMenu > button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border: none;
    background-color: transparent;
}

.burgerMenu > button:focus {
    opacity: 1;
}

.burgerSlice {
    height: 2px;
    width: 30px;
    margin-bottom: 5px;
    background-color: rgb(32, 42, 82);
    transition: transform 1s;
}


.burgerMenu.expanded > .burgerSlice:nth-of-type(1) {
    transform: translateY(14px) rotate(45deg) scale(1.4,1);
}

.burgerMenu.expanded > .burgerSlice:nth-of-type(2) {
    transform: translateY(7px) rotate(-45deg) scale(1.4,1) ;
}

.burgerMenu.expanded > .burgerSlice:nth-of-type(3) {
    transform: translateY(21px);
}

/* navigation strip for narrower screens */

.expandableMenu {
    display: none;
    grid-template-columns: 1fr 43px;
    position: absolute;
    top: 120px;
    height: 0;
    width: 80vw;
    margin: 0 auto;
    z-index: 2;
    overflow-X: hidden;
    overflow-Y: scroll;
    background-color: rgb(238,238,238);
    transition: height 1s;
}

.expandableMenu.expanded {
    height: min(400px, calc(100vh - 120px));
}

.expandableNavigationGrid {
    margin-left: 15px;
}

.expandableNavigationGrid > div {
    height: 20px;
    padding: 5px;
}

.expandableIconsContainer {
    height: 100px;
    font-size: 10px;
    padding: 0 5px;
}





/* large strip with image mmainly visible when scrolled up to the top of the page */
/*------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------*/

.headerStrip {
    margin-top: 120px;
    height: calc(500vw/39 + 400px - 1200px/13);
    padding-top: 200px;
    background-color: rgb(32,42,82);
    background-size: cover;
    background-position: center center;
}

h1 {
    color: #ffffff;
    font-size: 4em;
    font-size: calc(45vw/39 + 45px);
    font-family: 'AvenirMassive', sans-serif;
    line-height: 1em;
}







/* strips with content  possible layouts have one, two or three collumns */
/*------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------*/

.contentStrip {
    min-height: 200px;
    padding: 50px 0 20px 0;
    color: rgb(90,80,70);
}

.contentStrip.alt {
    background-color: rgb(220,220,220);
    /* color: rgb(32, 42, 82); */
}

.contentText {
    font-family: 'AvenirLight', sans-serif;
    margin-bottom: 30px;
    line-height: 1.6em;
    font-size: 1.14em;
    color: #000000;
}

/* one column layout */



/* two colum layout */

.contentBox.twoCol {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

/* three column layout */

.contentBox.threeCol {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.contentHeader > h2 {
    font-size: 2.14em;
    font-family: 'AvenirBold', sans-serif;
    margin-bottom: 30px;
    color: inherit;
}

















/* footer */
/*------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------*/

.footerStrip {
    background-color: rgb(200, 200, 200);
}

footer {
    font-size: 14px;
    font-family: 'AvenirLight', sans-serif;
    color: rgb(40,40,40);
}

.footerGrid {
    display: grid;
    grid-template-columns: 1fr 80px;
    padding: 50px 0;
}

.footerNavGrid {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 2fr;
    grid-template-rows: 30px 30px 30px;
    grid-auto-flow: column;
}

.wmpsToggle {
    height: 80px;
}




/* SVG */
/*------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------*/
/*WMP Logo*/
.wcls-1{
    fill:#202a52;
}
.wcls-2{
    fill:#fff;
}
/*WMPS Logo*/
.wscls-1{
    fill:#202a52;
}
.wscls-2{
    fill:#fff;
}
/*English flag*/
.fcls-1{
    fill:none;
    stroke-linejoin:round;
    stroke-width:2px;
}
.fcls-1,.fcls-3{
    stroke:#e63214;
}
.fcls-2,.fcls-3{
    fill:#202a52;
}
.fcls-3{
    stroke-linecap:round;
    stroke-miterlimit:10;
}
/*JOBS*/
.jcls-1{
    fill:#202a52;
}
.jcls-2{
    fill:none;
    stroke:#202a52;
    stroke-linecap:round;
    stroke-linejoin:round;
}







/* breakbpoint for smaller devices (720px) and to avoid scaling indefinitly on larger screens (1500px) */
/*------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------*/


@media screen and (max-width: 768px) {
    
    nav {
        grid-template-columns: 100px 1fr;
    }
    
    .navigationGrid {
        display: none;
    }

    .iconsContainer {
        display: none;
    }

    .burgerMenu {
        display: block;
    }
    
    .expandableMenu {
        display: grid;
    }

    .headerStrip {
        height: calc(328px + 10vw);
        padding-top: 150px;
    }
    
    .contentBox.oneCol, .contentBox.twoCol, .contentBox.threeCol {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .contentBox > div > .contentImage > a > img {
        height: 30vw;
    }

    .gohstText {
        display: none;
    }

    .footerNavGrid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 30px 30px 30px 30px 30px 30px;
    }
}

@media screen and (min-width: 1500px) {
    .marginBox {
        width: 1200px;
    }

    .headerStrip {
        height: 500px;
        font-size: 60px;
    }

    .contentImage > img {
        height: 300px;
    }
}