/* GENERAL -------------------------------------------------------------*/
/* ---------------------------------------------------------------------*/
html {
    box-sizing: border-box;
}

:root {
    --color-1: #000000;
    --color-2: #ffffff;
    --color-3: #ff0000;
    --color-4: #5e0000;
    --wordekr-duration: 100ms;
}

body {
    font-family: monospace;
}

*, body, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.wrapper {
    padding: 5vw;
}

/* HEADER --------------------------------------------------------------*/
/* ---------------------------------------------------------------------*/
header {
    display: grid;
    grid-template-columns: 1fr min(calc(100px + 20vw), 500px);
    align-content: start;
    position: fixed;
    background-color: #ffffff;
    z-index: 10;
    padding: 5vw 0;
    top: 0;
    left: 5vw;
    right: 5vw;
}

.scene {
    position: relative;
}
.cls-1 {

}

.mainMenu a {
	color: #000000;
    text-decoration: none;
}
.mainMenu a:visited {
	color: #000000;
}
.mainMenu a:hover,
.mainMenu a:focus,
.mainMenu a:active {
    color: #ff0000;
}
.mainMenu a:focus {
	outline: thin;
}
.mainMenu a:hover,
.mainMenu a:active {
	outline: 0;
}

.mainMenu {
    position: relative;
}
#mainNavList {
    width: min-content;
    position: relative;
}
#mainNavList > button {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: rgba(0,0,0,0);
    border: none;
    overflow: hidden;
}
#mainNavList > button:focus ~ a li::before {
    outline: 1px solid #000000;
}
#mainNavList li {
    position: relative;
    display: block;
    line-height: 1em;
    height: 8px;
    overflow-y: hidden;
    transition: height 400ms linear;
}
#mainNavList li::before {
    content: "";
    display: block;
    width: 2em;
    height: 3px;
    background-color: #000000;
    margin-bottom: 5px;
}
#mainNavList:hover li, #mainNavList.clicked li {
    height: 25px;
}
#mainNavList.resizing li {
    transition: none;
}

.logoContainer > svg {
    display: block;
}

@media screen and (min-width: 700px) {
    #mainNavList {
        display: grid;
        grid-auto-columns: min-content;
        grid-auto-flow: column;        
        transition: transform 200ms linear;
        height: 2em;
    }
    #mainNavList.collapsed {
        transform: rotate(90deg);
    }
    #mainNavList li {
        height: 2em;
        width: 8px;
        line-height: 2em;
        overflow-x: hidden;
        padding-left: 8px;
        transition: width 400ms linear;
    }
    
    #mainNavList li::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 3px;
        height: 2em;
        margin-bottom: 0;
    }
    #mainNavList.rotated:hover li, #mainNavList.rotated.clicked li, #mainNavList.opened.clicked li {
        width: 100px;
        height: 2em;
    }
    #mainNavList:hover, #mainNavList.clicked, #mainNavList.rotated {
        transform: rotate(0deg);
    }
    #mainNavList.resizing, #mainNavList.resizing li {
        transition: none;
    }
}

/* MAIN ----------------------------------------------------------------*/
/* ---------------------------------------------------------------------*/

main {
    padding-top: min(calc(40.16px + 13.03vw), calc(200.79px + 5vw));
}

.heroImage {
    height: max(calc(100vw - 40.16px - 18.03vw), calc(100vw - 200.79px - 10vw));
    /* background-image: url("../images/mmbrsnc.svg"), url("../images/placeholder.jpg");
    background-repeat: no-repeat;
    background-size: contain, cover;
    background-position: center;
    background-blend-mode: overlay; */
    overflow: hidden;
}

@media screen and (orientation: landscape) {
    .heroImage {
        height: max(calc(100vh - 40.16px - 18.03vw), calc(100vh - 200.79px - 10vw));
    }
}

.slideshow {
    height: 100%;
    display: grid;
    grid-template-columns: 100% calc(170px + 17vw) 100%;
    align-items: end;
    position: relative;
    left: 0;
    transition: left 10s linear;
}
.slideshow.shifted {
    left: calc(-100% - 170px - 17vw);
}
.slideshow > img.heroimg {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.slideshow > .workers {
    width: 100%;
    height: calc(77px + 7.7vw);
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.slideshow > .workers.reverse {
    transform: rotateY(180deg);
}
.slideshow .worker {
    width: 100%;
    height: 100%;
}
.slideshow .worker svg {
    display: block;
}
.slideshow .worker svg * {
    fill: #000000;
}
.worker .legs {
    position: relative;
    height: 35.06%;
}
.worker .legs div {
    transform-origin: 0 0;  
    animation-iteration-count: infinite;
    animation-duration: 500ms;
    animation-direction: alternate;
    animation-play-state: running;
    animation-timing-function: linear;
}
.worker .legs > div {
    position: absolute;
    height: 100%;
    width: 23.35%;
    inset-block: 0;
    inset-inline: 41.18% 35.29%;
    animation-direction: normal;
    animation-duration: 1000ms;
}
.worker .legs .upper, .worker .legs .lower {
    width: 50%;
    height: 37.04%;
    background-color: #000000;
}
.worker .legs .one .upper {
    animation-direction: alternate-reverse;
}
.worker .legs .one .lower {
    animation-direction: alternate-reverse;
}
.worker .legs .foot {
    width: 75%;
    height: 18.52%;
    margin-block-start: 10%;
    background-color: #000000;
}
.worker .legs .one .foot {
    animation-direction: alternate-reverse;
}
.worker .legs > .one {
    animation-name: legone;
}
.worker .legs > .two {
    animation-name: legtwo;
    transform: translate(50%, 0);
}
.worker.pushing .legs .upper {
    transform: skewX(45deg);
    animation-name: pushupper;
}
.worker.pushing .legs .lower {
    transform: translate(100%, 0) skewX(45deg);
    animation-name: pushlower;
}
.worker.pushing .legs .foot {
    transform: translate(100%, 0);
    animation-name: pushfoot;
}
.worker.pulling .legs .upper {
    transform: skewX(45deg);
    animation-name: pullupper;
}
.worker.pulling .legs .lower {
    transform: translate(100%, 0) skewX(45deg);
    animation-name: pulllower;
}
.worker.pulling .legs .foot {
    transform: translateX(133.33%);
    animation-name: pullfoot;
}

@keyframes legone {
    50% {transform: translate(50%, 0);}
    75% {transform: translate(25%, -18.52%);}
    to {transform: translate(0, 0);}
}
@keyframes legtwo {
    25% {transform: translate(25%, -18.52%);}
    50% {transform: translate(0, 0);}
    to {transform: translate(50%, 0);}
}

@keyframes pushupper {
    to {transform: skewX(-45deg);}
}
@keyframes pushlower {
    to {transform: translate(-100%) skewX(45deg);}
}
@keyframes pushfoot {
    to {transform: translateX(-33.33%);}
}
@keyframes pullupper {
    to {transform: translateX(0) skewX(45deg);}
}
@keyframes pulllower {
    to {transform: translate(100%,0) skewX(-45deg);}
}
@keyframes pullfoot {
    to {transform: translateX(0px);}
}




/* BOOKSHELF -----------------------------------------------------------*/
/* ---------------------------------------------------------------------*/

.shelfscreen {
    perspective: 3000px;
    perspective-origin: 50% 0;
    transform-style: preserve-3d;
    position: relative;
    transform: translateZ(-200px);
}

.shelfscreen * {
    transform-style: preserve-3d;
    width: min-content;
}

.bab h2 {
    font-size: 3em;
}

.bookshelf {
    display: grid;
    grid-template-columns: 30px 50px 70px 40px 60px 50px 20px;
    align-items: end;
    gap: 4px;
    position: relative;
    margin: 100px auto;
    text-align: center;
    padding: 4px;
    transition: transform 2s;
    transform-origin: 0 0 0;
    transform: rotateY(-30deg) skewY(10deg);
}

.book {
    position: relative;
    width: 100%;
    height: 300px;
    transform: rotate(0deg);
    transform-origin: 50% 100%;
    transition: transform 1500ms;
}
.book:hover {
    transform: rotateX(-10deg);
}

.book > div {
    border: 2px solid black;
    position: absolute;
}

.book > .back {
    writing-mode: vertical-lr;
    padding: 20px 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.book > .front {
    transform: rotateY(90deg);
    transform-origin: 0 0 0;
    top: 0;
    left: 100%;
    height: 100%;
    background-color: #f0f0f0;
}

.book > .top {
    transform: rotateX(-90deg);
    transform-origin: 0 0 0;
    top: 0;
    left: 0;
    width: 100%;
    background-image: repeating-linear-gradient(to right, #ffffff 0 3px, #000000 3px 6px);
}

.book:nth-child(1) {
    height: 200px;
}
.book:nth-child(1) > .back {
    line-height: 26px;
}
.book:nth-child(1) > .front {
    width: 180px;
}
.book:nth-child(1) > .top {
    height: 170px;
}


.book:nth-child(2) {
    height: 230px;
}
.book:nth-child(2) > .back {
    line-height: 46px;
}
.book:nth-child(2) > .front {
    width: 200px
}
.book:nth-child(2) > .top {
    height: 190px
}

.book:nth-child(3) {
    height: 260px;
}
.book:nth-child(3) > .back {
    line-height: 66px;
}
.book:nth-child(3) > .front {
    width: 220px;
}
.book:nth-child(3) > .top {
    height: 210px
}

.book:nth-child(4) {
    height: 180px;
}
.book:nth-child(4) > .back {
    line-height: 36px;
}
.book:nth-child(4) > .front {
    width: 140px;
}
.book:nth-child(4) > .top {
    height: 130px;
}

.book:nth-child(5) {
    height: 220px;
}
.book:nth-child(5) > .back {
    line-height: 56px;
}
.book:nth-child(5) > .front {
    width: 200px;
}
.book:nth-child(5) > .top {
    height: 190px;
}

.book:nth-child(6) {
    height: 200px;
}
.book:nth-child(6) > .back {
    line-height: 46px;
}
.book:nth-child(6) > .front {
    width: 100px;
}
.book:nth-child(6) > .top {
    height: 90px;
}

.book:nth-child(7) {
    transform: translateX(57.56px) rotateZ(-20deg);
    transform-origin: 0 100% 0;
    height: 180px;
}
.book:nth-child(7):hover {
    transform: translateX(57.56px);
}
.book:nth-child(7) > .back {
    line-height: 16px;
}
.book:nth-child(7) > .front {
    width: 90px;
}
.book:nth-child(7) > .top {
    height: 80px;
}

/* FOOTER --------------------------------------------------------------*/
/* ---------------------------------------------------------------------*/