.contentStrip:nth-of-type(2n) {
    background-color: rgb(30, 45, 80);
    color: rgb(255,255,255);
}

.contentStrip:nth-of-type(2n + 1) {
    background-color: rgb(255,255,255);
    color: rgb(30, 45, 80);
}