html,body {
    font-family: Arial, sans-serif;
}
* {
    padding: 0px;
    margin: 0px;
}

h1 {
    height: 200px;
    background-color: #0a2938;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
}

h1 > span {
    color: #ffc600;
}

.gridcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px;
}

.gridcontainer > div {
    border: 2px;
    border-style: solid;
    border-color: black;
}
.textarea {
    margin-top: 50px;
    margin-left: 50px;
    max-width: 300px;
    height: 300px;
}

.imagearea {
    overflow: hidden;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    height: 300px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.massive {
    font-weight: bold;
    font-size: 35px;
}

.tiny {
    font-size: 10px;
}

p.button {
    margin-top: 5px;
    padding: 10px;
    text-align: center;
    background-color: #ffc600;
    color: #000000;
}

p.button:hover {
    color: #ffffff;
}

p.button:active {
    background-color: #000000;
}


/* brand identity section */
.brandidentity {
    background-color: #ffffff;
    color: #0a2938;
}

/* brochure section */
.brochure {
    background-color: #598392;
    color: #ffffff;
}



@media screen and (max-width: 800px) {
    .gridcontainer {
        grid-template-columns: 1fr;
    }
}

