html,body {
    font-family: Arial, sans-serif;
}
* {
    border: 1px solid black;
    padding: 0px;
    margin: 0px;
}

h1 {
    height: 200px;
    background-color: #0a2938;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
}

h1 > span {
    color: #ffc600;
}

.gridcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*grid-template-rows: repeat(2,400px);*/
    grid-auto-rows: 500;
}

.textarea {
    margin-top: 50px;
    margin-left: 70px;
    margin-bottom: 50px;
    width: 330px;
    /*height: 300px;*/
}

.imagearea {
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
    
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.massive {
    height: 80;
    font-weight: bold;
    font-size: 35px;
}

.tiny {
    height: 100px;
    font-size: 10px;
}

.button {
    width: 200px;
    height: 50 px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 5 px;
    background-color: #ffc600;
    color: #000000;
}

.button:hover {
    color: #ffffff;
}

.button:active {
    background-color: #000000;
}

.button p {
    text-align: center;
}


/* brand identity section */
.brandidentity {
    background-color: #ffffff;
    color: #0a2938;
}

/* brochure section */
.brochure {
    background-color: #598392;
    color: #ffffff;
}



@media screen and (max-width: 800px) {
    .gridcontainer {
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
    }
    
    .imagearea {
        margin-left: 70px;
    }
}

