/* strip with affiliates */

.affiliates-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 120px);
    grid-gap: 20px;
    justify-content: center;
}

.affiliate-picture {
    width: 100%;
    height: 120px;
    border-radius: 50%;
    background-image: linear-gradient(rgba(210, 215, 220, 0.5), rgba(210, 215, 220, 0.5)), url(../images/obama.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.affiliate-picture:hover {
    background-image: url(../images/obama.png);
}


img[src^="images/ob"] {
    object-fit: contain;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

