.headerStrip {
    background-image: url("../images/image_over_ons_large.jpg");
}

.contentStrip.alt {
    padding-bottom: 50px;
}

.contentStrip.alt .contentHeader {
    height: 300px;
    line-height: 300px;
}

.contentStrip.alt .contentHeader > h2 {
    font-size: 1.6em;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.6em;
}

.contentSVG {
    height: 200px;
    margin: 0 auto;
    padding: 50px 0;
}

.contentSVG.dim9208x8798 {
    width: 209.3px;
}

.contentSVG.dim8815x8807 {
    width: 200.2px;
}

.contentSVG.dim10004x8774 {
    width: 228px;
}

.contentSVG > img {
    height: 100%;
    object-position: cover;
}

@media screen and (max-width: 768px) {
    .headerStrip {
        background-image: url("../images/image_over_ons_small.jpg");
    }

    .contentStrip.alt .contentHeader {
        height: auto;
        line-height: normal;
        text-align: center;
    }
    
}