.headerStrip {
    background-image: url("../images/image_private_markets_large.jpg");
}

.contentStrip.alt .contentHeader {
    padding-top: 30px;
}

.contentStrip.alt .contentHeader > h2{
    font-size: 16px;
    text-align: center;
}

.contentSVG {
    height: 125px;
    margin: 0 auto;
}

.contentSVG.dim6318x8660 {
    width: 91.2px;
}

.contentSVG.dim10603x8798 {
    width: 150.6px;
}

.contentSVG.dim10898x8745 {
    width: 155.8px;
}

.contentBox.oneCol > div > .contentText {
    font-size: 30px;
}



@media screen and (max-width: 768px) {
    .headerStrip {
        background-image: url("../images/image_private_markets_small.jpg");
    }
    
}