.headerStrip {
    background-image: url("../images/image_private_markets_large.jpg");
}

.contentStrip.alt {
    background-color: rgb(220,220,220);
    color: rgb(32, 42, 82);
}

.contentStrip.alt .contentHeader {
    font-size: 16px;
    text-align: center;
    padding-top: 30px;
}

.contentSVG {
    width: 125px;
    height: 125px;
    margin: 0 auto;
}

.contentSVG.portrait {
    width: 90px;
    height: 125px;
}

.contentBox.oneCol > div > .contentText {
    font-size: 30px;
}



@media screen and (max-width: 768px) {
    .headerStrip {
        background-image: url("../images/image_private_markets_small.jpg");
    }
    
}