.headerStrip {
    background-image: url("../images/image_private_markets_large.jpg");
}

.contentStrip.alt {
    padding-bottom: 50px;
    padding-top: 80px;
}

.contentStrip.alt .contentHeader {
    padding-top: 30px;
}

.contentStrip.alt .contentHeader > h2{
    font-size: 1.14em;
    text-align: center;
}

.contentSVG {
    height: 80px;
    margin: 0 auto;
}

.contentSVG.dim6318x8660 {
    width: 58.4px;
}

.contentSVG.dim10603x8798 {
    width: 96.4px;
}

.contentSVG.dim10898x8745 {
    width: 99.7px;
}

.contentBox.oneCol > div > .contentText {
    font-size: 2.14em;
}



@media screen and (max-width: 768px) {
    .headerStrip {
        background-image: url("../images/image_private_markets_small.jpg");
    }
    
}