html,body {
    font-family: Arial, sans-serif;
}
* {
    padding: 0px;
    margin: 0px;
}

h1 {
    text-align: center;
    line-height: 200px;
    height: 200px;
    font-size: 80px;
    color: #ffffff;
    background-color: #000000;
}

.gridcontainer > div {
    background-color: #ffffff;
    width: 45vw;
    height: 400px;
}

.gridcontainer > div:nth-child(2n) {
    display: inline-block;
    background-color: #000000;
}

.textarea, .imagearea {
    background-color: #ff0000;
    width: 40vw;
    height: 300px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
