.headerStrip {
    background-image: url("../images/image_vacature_large.jpg");
}

.contentSubHeader {
    font-family: 'AvenirSemiBold', sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
}

.contentSummary {
    font-family: 'AvenirBold', sans-serif;
    color: rgb(230,50,20);
    margin-bottom: 30px;
}

.contentParagraphHeader {
    font-family: 'AvenirBold', sans-serif;
}

.contentParagraph {
    margin-bottom: 30px;
}

ul {
    padding-left: 20px;
    margin-bottom: 30px;
}

@media screen and (max-width: 720px) {
    .headerStrip {
        background-image: url("../images/image_vacature_small.jpg");
    }
}