.headerStrip {
    background-image: url("../images/image_vermogensregie_large.jpg");
}

.contentStrip.alt {
    padding-bottom: 50px;
    padding-top: 80px;
}


.contentStrip.alt .contentHeader {
    padding-top: 30px;
}

.contentStrip.alt .contentHeader > h2 {
    font-size: 1.14em;
    text-align: center;
}

.contentSVG {
    height: 80px;
    margin: 0 auto;
}

.contentSVG.dim11369x8744 {
    width: 104px;
}

.contentSVG.dim8824x8824 {
    width: 80px;
}

.contentSVG.dim11136x8521 {
    width: 104.5px;
}


@media screen and (max-width: 768px) {
    .headerStrip {
        background-image: url("../images/image_vermogensregie_small.jpg");
    }
    
}