.headerStrip {
    background-image: url("../images/image_vermogensregie_large.jpg");
}

.contentStrip.alt {
    background-color: rgb(220,220,220);
    color: rgb(32, 42, 82);
}

.contentStrip.alt .contentHeader {
    font-size: 16px;
    text-align: center;
    padding-top: 30px;
}

.contentSVG {
    width: 125px;
    height: 125px;
    margin: 0 auto;
}

.contentSVG.landscape {
    width: 150px;
    height: 65px;
    padding: 30px 0;
}



@media screen and (max-width: 768px) {
    .headerStrip {
        background-image: url("../images/image_vermogensregie_small.jpg");
    }
    
}