.headerStrip {
    background-image: url("../images/image_waarmaken-2_large.jpg");
}

.contentStrip.alt {
    background-color: rgb(220,220,220);
}

.contentText > p {
    margin-bottom: 30px;
}

.contentCarouselContainer {
    perspective: 400px;
    position: relative;
    width: 130px;
    height: 186px;
    margin: 0 auto;
}

.carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateZ(-157px);
    transform-style: preserve-3d;
    transition: transform 1s;
    
}

.carouselItem {
    position: absolute;
    top: 0;
    left: 15px;
    width: 100px;
    height: 186px;
}

.carouselItem > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;

}

.carouselItem:nth-child(1) {
    transform: rotateY(0deg) translateZ(157px);
}

.carouselItem:nth-child(2) {
    transform: rotateY(45deg) translateZ(157px);
}

.carouselItem:nth-child(3) {
    transform: rotateY(90deg) translateZ(157px);
}

.carouselItem:nth-child(4) {
    transform: rotateY(135deg) translateZ(157px);
}

.carouselItem:nth-child(5) {
    transform: rotateY(180deg) translateZ(157px);
}

.carouselItem:nth-child(6) {
    transform: rotateY(225deg) translateZ(157px);
}

.carouselItem:nth-child(7) {
    transform: rotateY(270deg) translateZ(157px);
}

.carouselItem:nth-child(8) {
    transform: rotateY(315deg) translateZ(157px);
}

.contentButton {
    width: 120px;
    margin: 30px auto;
    color: rgb(230,50,20);
    text-align: center;
}

.contentButton:hover {
    font-family: 'AvenirBold', sans-serif;
}

.downloadLine {
    display: grid;
    grid-template-columns: 10px 1fr;
    gap: 20px;
    height: 21px;
    margin-bottom: 10px;
    font-size: 16;
}

.downloadButton {
    width: 10px;
    height: 13px;
}

.downloadButton svg {
    padding: 4px 0;
}

g {
    stroke:rgb(90,80,70);
    transform: translateY(0);
}

.downloadButton:hover g {
    stroke: rgb(230,50,20);
}

.downloadButton:hover g.downloadArrow {
    transform: translateY(10px);
}

.contentAFMWarning {
    width: min(80vw, 600px);
    padding: 50px 0;
}

.contentAFMWarning > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}





@media screen and (max-width: 720px) {
    .headerStrip {
        background-image: url("../images/image_waarmaken-2_small.jpg");
    }
    
}