.headerStrip {
    background-image: url("../images/image_waarmaken-2_large.jpg");
}

.contentStrip.alt {
    background-color: rgb(220,220,220);
}

.contentText > p {
    margin-bottom: 30px;
}

.contentImageContainer {
    width: 200px;
    padding: 0 auto;
}

.downloadLine {
    display: grid;
    grid-template-columns: 10px 1fr;
    gap: 20px;
    height: 13px;
    line-height: 13px;
}

.downloadButton {
    width: 10px;
    height: 13px;
}





@media screen and (max-width: 720px) {
    .headerStrip {
        background-image: url("../images/image_waarmaken-2_small.jpg");
    }
    
}