.headerStrip {
    background-image: url("../images/image_app_large.jpg");
}

.contentHeader {
    font-size: 1.14em;
}

.contentAppContainer {
    width: 371px;
    margin: 30px auto;
}

.appViewPort {
    display: grid;
    grid-template-columns: 50px 251px 50px;
    gap: 10px;
    height: 476px;
    padding: 50px 0;
}

.appScreen {
    background-image: url("../images/app_1.png");
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image 1s;
}

.appLeftButton {
    background: transparent;
    border: none;
    line-height: 100%;
    font-size: 30px;
    text-align: left;
    cursor: pointer;
    padding: 0;
}

.appRightButton {
    background: transparent;
    border: none;
    line-height: 100%;
    font-size: 30px;
    text-align: right;
    cursor: pointer;
    padding: 0;
}


.appText {
    height: 100px;
    color: rgb(32,42,82);
    text-align: center;
    line-height: 1.5em;
}

.appText span {
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .headerStrip {
        background-image: url("../images/image_app_small.jpg");
    }

    .contentHeader {
        font-size: 1em;
    }
}

@media screen and (max-width: 470px) {

    .contentAppContainer {
        width: 73vw;
    }

    .appViewPort {
        grid-template-columns: 10vw 53vw 10vw;
        height: 101vw;
        gap: 0;
    }
}