.headerStrip {
    background-image: url("../images/image_app_large.jpg");
}

.contentHeader {
    font-size: 30px;
}

.contentAppContainer {
    width: 371px;
    margin: 30px auto;
}

.appViewPort {
    display: grid;
    grid-template-columns: 50px 251px 50px;
    gap: 10px;
    height: 476px;
    padding: 50px 0;
}

.appScreen {
    background-image: url("../images/app_1.png");
    transition: background-image 1s;
}

.appLeftButton {
    background: transparent;
    border: none;
    line-height: 476px;
    font-size: 30px;
    text-align: left;
    cursor: pointer;
    padding: 0;
}

.appRightButton {
    background: transparent;
    border: none;
    line-height: 476px;
    font-size: 30px;
    text-align: right;
    cursor: pointer;
    padding: 0;
}


.appText {
    height: 100px;
    color: rgb(32,42,82);
    font-family: 'AvenirSemiBold', sans-serif;
    text-align: center;
    line-height: 1.5em;
}

.appText span {
    font-family: 'AvenirBold', sans-serif;
}

@media screen and (max-width: 768px) {
    .headerStrip {
        background-image: url("../images/image_app_small.jpg");
    }
}