html {
    font-family: sans-serif;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    
}

div.left {
    background-color: blue;
    height: 1200 px;
}

div.right {
    background-color: red;
    height: 1200 px;
}
