html,body {
    font-family: Arial, sans-serif;
}
* {
    padding: 0px;
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(120px, auto);
}
@media screen and (max-width: 400px) {
  .container {
    grid-template-columns: 1fr;
  }
}

div.left > .big {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.2 em;
    font-weight: bold;
}

div.right > .tiny{
    background-color: #972973;
    margin-left: 5%;
    padding: 5px;
    font-size: 1em;
}

.tiny:hover {
    color: #ffffff;
    background-color: #a78e49;
}

div > div.theme1 {
    background-color: #20c4c4;
}

div > div.theme2 {
    background-color: #0045d9;
}

div > div.theme3 {
    background-color: #84f699;
}

.image{
    height: 40%;
    width: 20%;
    margin-left: 5%;
    margin-top: 5%
}

img {
    width: 100%
    height: 100%
}
